# Ignore pycache
__pycache__/

# Ignore packaging files and directories
dist/

# Ignore secret files
.secrets/

# Ignore creds and environment files
*.pypirc
*.env

# Generic ignore files
*.log
*.tmp

# Ignore git files
*.git

# Ignore eggs and build directories
*.egg-info/

# Ignore the default log directory
logs/*

# Ignore prettier config files
.prettierrc

# Ignore pre-commit config file
.pre-commit-config.yaml